#########################
# Directories
#########################
.idea/
node_modules/
target/
bin/
.settings/
.tscache/
tmp/
########################
# Files
#######################
*.class
*.classpath
*.project
*.settings
*.springBeans
*.iml
*ide-plugin.xml
*.log
local.properties.json
*.DS_Store